<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="xyz.zzyymaggie.mybatis.dao.mapper.StyleMapper">  
      
   <select id="batchSelectStyleList" resultType="xyz.zzyymaggie.mybatis.model.Style" fetchSize="1000">  
       select * from style_year_season where <![CDATA[ ROWNUM <= ]]> #{maxCount}
   </select>  
   
   <select id="selectStyleList" resultType="xyz.zzyymaggie.mybatis.model.Style">  
       select * from style_year_season where <![CDATA[ ROWNUM <= ]]> #{maxCount}
   </select>  
    
</mapper>  