<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
    
<configuration>  
    <!-- 数据库相关属性文件，这里不写的话，也会自动加载 -->  
    <properties resource="config.properties"></properties>  
      
     <typeAliases> 
        <typeAlias alias="User" type="xyz.zzyymaggie.mybatis.model.User"/> 
    </typeAliases> 
    <!-- 环境配置 -->  
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="JDBC"/>  
            <!-- 数据库连接相关配置 ,这里动态获取config.properties文件中的内容-->  
            <dataSource type="POOLED">  
                <property name="driver" value="${connections.driver}"/>  
                <property name="url" value="${connections.url}"/>  
                <property name="username" value="${connections.user}"/>  
                <property name="password" value="${connections.password}"/>  
            </dataSource>  
        </environment>  
    </environments>  
    
    <!-- 映射文件 -->
    <mappers>  
        <mapper resource="xyz/zzyymaggie/mybatis/dao/mapper/UserMapper.xml"/>  
        <mapper resource="xyz/zzyymaggie/mybatis/dao/mapper/StyleMapper.xml"/>  
    </mappers>  
    
</configuration>  